{{- partial "header_new_nav.html" . -}}

<span id="scrollTo" class=""><a href="#{{ .CurrentSection.Name | urlize }}-ezo"></a></span>

<main class="main">

  <section class="icon-scroll-bar-section">

    {{- range where .Site.Pages "Section" "building-blocks" -}} {{ if eq .Params.isParent "true" }} {{- range .Pages -}}   
    <div class="circle" style="background-color: {{ .Params.color}};" onclick="category(this)">
      <i class="{{ .Params.icon}} fa-2xl icon-bar-icon"></i>
    </div>
    {{- end -}} {{ end }} {{- end -}}
    
  </section>

  {{- range where .Site.Pages "Section" "building-blocks" -}} {{ if eq .Params.isParent "true" }} {{- range .Pages -}}
  <!-- Book tab 1-->
  <section class="book-tab">

    <h2 style="text-align:center;">{{.Title}}</h2>
    <p style="text-align:center;margin-bottom: 100px;">{{.Description}}</p>
    <div class="card-area">

      <!-- Card Section-->
      <div class="card-section">

        {{- range .Pages -}}
        <!-- Card -->
        <div class="card-tsh-nav">

          <!--- No error in this Div-->

          <div class="flip-card">

            
            <div class="flip-card__container">
              <div class="card-front">
                <div class="card-front__tp card-front__tp--card1">
                  <img src="images/icon-computer.png" style="width:100px;height:75px;margin-top: -20px;">
                  <h2 class="card-front__heading">
                    {{.Title}}
                  </h2>
                  <p class="card-front__text-description">
                    {{.Description}}
                  </p>
                </div>

                <div class="card-front-bt">
                  <p class="card-front__text-view card-front__text-view--card1">
                    HOVER ME
                  </p>
                </div>
              </div>
              <div class="card-back">
                <div class="inside-page__container">
                  <h3 class="inside-page__heading inside-page__heading--card1">
                    {{.Title}}
                  </h3>
                  <p class="inside-page__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut nulla tincidunt, accumsan massa
                    quis, ultrices ex. Etiam at gravida lectus. Cras suscipit iaculis blandit. Aenean quis fermentum
                    ipsum.
                  </p>
                  <div class="sub-card-main">

                  </div>
                </div>
              </div>
            </div>
            <!--- No error in this Div-->

          </div>
          <!--- / Div-->

          <div class="inside-page">

            <div class="bookmark">
              <div class="bookmark-icon-section">
                
                <div class="bookmark-icon"><a href="#" style="color:white"><i
                      class="fa-brands fa-linkedin fa-2xl"></i></a></div>
                <div class="bookmark-icon"><a href="#" style="color:white"><i
                      class="fa-solid fa-bookmark fa-2xl"></i></a></div>
              </div>
            </div>
            
          </div>
          
        </div>
        {{ end }}

      </div>

    </div>

  </section>
  {{- end -}} {{ end }} {{- end -}}
  
</main>

{{- partial "footer.html" . -}}
